@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #eadae6;
    font-family: "Poppins";
    font-size: 20px;
    text-decoration: none;
}

.nav-logo {
    justify-content: flex-start;
    width: 10%;
}

.links-fix {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;

}

.nav-item {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    color: #254441 !important;
}

.titulos {
    display: block;
    padding-top: 15px;
    padding-left: 40px;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-weight: bolder;
    background-image: linear-gradient(#eadae6,#cebfca);


}

#main-index {

    align-content: center;
    background-image: linear-gradient(#cebfca, white);
    text-align: left;
    color: #254441;
    font-family: "Open Sans";
    font-weight: bolder;

}


.cuerpo-index {
    font-size: 25px !important;

}


#main-nosotres {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: linear-gradient(#cebfca, white);
    text-align: center;
    font-size: 12px;
    color: #254441;
    font-family: "Open Sans";
    font-weight: bolder;
   
}
.cuerpo-nos{

    
}
.subtitulo {
    background-color: #cebfca;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

#main-contacto {
    font-family: "Open Sans";
    background-image: linear-gradient(#e0d8de, white);
}

#main-cristales {
    font-family: "Open Sans";
    background-image: linear-gradient(#e0d8de, white);

}

#main-preguntas {
    font-family: "Open Sans";
    background-image: linear-gradient(#e0d8de, white);
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #eadae6;
    font-family: "Poppins";
    color: #254441 !important;
    text-align: center;
    text-decoration: none;
}

.navbar-brand {
    font-size: 16px !important;
}


@media (max-width: 790px) {
    .header {
        overflow: hidden;
        display: flex;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 50px;
        font-size: smaller;
    }

    .footer {
        color: #254441 !important;
        text-align: center;
        text-decoration: none;
        font-size: smaller;
    }

}