@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
   
    padding-top: 10px;
    padding-left: 10px;
    background-color: #e0d8de;
    font-family: "Poppins";
    font-size: 20px;
    text-align: right;
    text-decoration: none;

}

.nav-link {
    color: #254441 !important;
   
}

.titulos {
    font-family: "Open Sans";
    font-weight: bolder;
    background-color: #cdc7e5;

}

#main-index {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: linear-gradient(#e0d8de, white);
    text-align: left;
    font-size: 12px;
    color: #254441;
    font-family: "Open Sans";

}
.cuerpo-index{

    font-size: 25px !important;
}
#main-nosotres {
    font-family: "Open Sans";
    text-align: center;
    background-color: #cdc7e5;

}


#main-contacto {
    font-family: "Open Sans";
    background-color: #cdc7e5;
}

#main-cristales {
    font-family: "Open Sans";
    background-color: #cdc7e5;


}

#main-preguntas {

    font-family: "Open Sans";
    background-color: #cdc7e5;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #e0d8de;
    font-family: "Poppins"; 
    font-size: 12px;
    color: #254441;
    text-align: center;
    text-decoration: none;
}



@media (max-width: 520px) {
    .header {
        display: flex;
        padding-top: 15px;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
        font-size: smaller;
    }

}

